@model List<CategoryDto>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <!-- Kategori Listesi -->
            <div class="list-group">
                @foreach (var item in Model)
                {
                    <a href="#" class="list-group-item list-group-item-action kategori-item" 
                    data-category-id="@item.Id">@item.Name</a>
                }
            </div>
        </div>

        <div class="col-md-9" id="urunler"></div>
        
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var kategoriItems = document.querySelectorAll('.kategori-item');

        kategoriItems.forEach(function (item) {
            item.addEventListener('click', function () {
                console.log("test");
                var categoryId = this.getAttribute('data-category-id');
                goruntuleKategori(categoryId);
            });
        });

        function goruntuleKategori(categoryId) {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/Home/Product?categoryId=' + categoryId, true);

            xhr.onload = function () {
                console.log(xhr.status);
                if (xhr.status === 200) {
                    document.getElementById('urunler').innerHTML = xhr.responseText;
                } else {
                    console.error('Ürünler alınamadı.');
                }
            };

            xhr.onerror = function () {
                console.error('Ürünler alınamadı.');
            };

            xhr.send();
        }
    });
</script>
